/*********************************************

This is the style file for this project.

**********************************************/

body{
width:100%;
height:100%;
}

span{
  font-size:20px;
}

#move{
  position:absolute;
  left:0px;
  top:0px;
}

.fallingChar{
  position:fixed;
}

#top{
 width:700px;
 height:80px;
}

#face{
  width:200px;
  height:200px;
  background-color:red;
}

#beard{
  width:200px;
  justify-content: space-around;
  line-height:0px;
  display:flex;
  flex-direction:row;
}
