/*********************************************

This is the style file for this project.

**********************************************/
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body{
width:100%;
height:100%;
display:flex;
flex-direction:column;
align-items:center;
 font-family: 'Amatic SC', cursive;
}


#move{
  position:absolute;
  left:0px;
  top:0px;
}

.fallingChar{
  position:fixed;
}

#text0{
  font-size:120px;
}


#top{
 width:700px;
 height:80px;
 font-size:80px;
 text-align:center;

}

#face{
  width:200px;
  height:200px;
  background-color:red;
}

#beard{
  width:200px;
  justify-content: space-around;
  line-height:0px;
  display:flex;
  flex-direction:row;
}

.hair{
  cursor: url('cursor.cur'), auto;
  font-weight:bold;
  line-height:0;
  font-size:40px;
}
.milestone{
  position:absolute;
    right:185px;
    text-align:center;
    font-size:35px;
    color:black;
}
#milestone1{
  top:300px;
}
#milestone2{
  top:600px;
}
#milestone3{
  top:800px;
}
#milestone4{
  top:1100px;
}
