/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
so the canvas is flush with the top left corner.

**********************************************/
@import url('https://fonts.googleapis.com/css?family=VT323');

body {
  font-family: 'VT323', monospace;
  font-weight: bolder;
  padding: 0px;
  margin: 0;
  user-select: none;
}

#theDiv{

  position: fixed;
  top:0;
  left:0;
}

#title{

  position:fixed;
  align-content: center;
  top:0;
  left:0;
  font-size:30px;
}

#instructions{
  color: #ff66ff;
  font-size:3vw;
  z-index:50;
  width:auto;
}


#instruct1{
  color: #ff6600;
}
#instruct2{
  color: #9933ff;
}
#instruct3{
  color:#00cc66;
}
#instruct4{
  color: #ffff00;
}
.moveable{
  position:fixed;
  text-shadow: 3px 3px black, -3px -3px white;
  z-index:50;
  font-size:4vw;
  background-color: rgb(200, 200, 200, 0.7);
  border-radius:15px;
  text-align:center;
  padding:10px;
  width: auto;
  line-height: 3.5vw;
}
#instruct4{
  font-size:3vw;
  line-height: 2.5vw;
}
.slider{
  position:fixed;
  font-size:2vw;
  line-height: 1.5vw;
  color:#6699ff;
}

.pad{

  color:#ff9966;
  opacity:0.7;
  width:150px;
  position:fixed;
  z-index:0;
  font-size:2vw;
  line-height: 2vw;
  text-align:center;
}
